.icon-fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

// i{
//     color: $primary;
//     display: inline-block;
//     font-size: $h5-font-size;
//     line-height: inherit;
// }

.material-symbols-outlined{
    line-height: 1;
    vertical-align: middle;
}

img{
    // max-width: 100%;
    // height: auto;
    vertical-align: middle;
}

a{
    color: inherit;
    display: inline-block;
}

ul{
    list-style-type: none;
}

//
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-custom{
    border: 0px;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0px 25px 50px -12px #0000001F;
    overflow: hidden;
}

.card-custom-border{
    border: 1px solid $neutral-40;
    border-radius: 12px;
    box-shadow: 0px -1px 0px 0px #E9EAF0 inset;
}

// 用於文字標題裝飾
.title-deco{
    position: relative;
    z-index: 1;

    &::before{
        position: absolute;
        content: '';
        width: 60px;
        height: 60px;
        background: url(../images/deco/flower-1.png);
        background-repeat: no-repeat;
        top: -24px;
        left: -24px;
        z-index: -1;
    }
}

.rounded-12{
    border-radius: 12px;
}
.rounded-20{
    border-radius: 20px;
}

.rounded-40{
    border-radius: 40px;
}

.rounded-80{
    border-radius: 80px;
}

@media (min-width: 992px) {
    .rounded-xl-80{
        border-radius: 80px;
    }
}

.w-32{
    width: 32px;
    height: 32px;
}