// 限時8折
// badge-postion定位
// class需使用position-absolute
.badge-position{
    top: 16px;
    left: 16px;
}
.badge-position-sm{
    top: 4px;
    left: 4px;
}


.badge-tag-sm{
    padding: 4px 12px;
}
.badge-tag-xs{
    padding: 4px 8px;
}